<a href="/shelters"> Shelter Pets Index </a>
<br>
<a href='/shelters/<%= @shelter.id %>/edit'> Update Shelter </a>
<h3 style= "text-weight: bold"> Name: </h3>
<p><%= @shelter.name %></p>

<h3 style= "text-weight: bold"> Address: </h3>
<p><%= @shelter.address %></p>

<h3 style= "text-weight: bold"> City: </h3>
<p><%= @shelter.city %></p>

<h3 style= "text-weight: bold"> State: </h3>
<p><%= @shelter.state %></p>

<h3 style= "text-weight: bold"> Zip: </h3>
<p><%= @shelter.zip %></p>
